﻿@model AspRegister.Models.ViewModels.DetailsForm

@{
    ViewBag.Title = "Details";
}

<div id="whitefont" class="center">
    <br />
    <br />
    <br />
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            ********
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.ActionLink("Modifier le profil", "Edit", new { Controller = "Home", id = Model.Id })
        </dt>
    </dl>
</div>