﻿@model AspRegister.Models.ViewModels.LoginForm

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" id="whitefont">
    <br />
    <br />
    <br />
    <h4>Connection</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Connection" class="btn btn-default" />
        </div>
    </div>
    <h3 id="red">@Html.ViewBag.msg</h3>
</div>
}

<div> 
    @Html.ActionLink("Pas de compte?", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
