﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Escape</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Escape", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>*@
                    @{ if (AspRegister.Infrastructures.UserSession.UserLog != null)
                        {
                            <li>@Html.ActionLink("Profil", "Details", new { Controller = "Home", id = AspRegister.Infrastructures.UserSession.UserLog.UserLogId })</li>
                            <li>@Html.ActionLink("Mes Réservations", "Index", new { Controller = "Reservation", id = AspRegister.Infrastructures.UserSession.UserLog.UserLogId })</li>
                            <li>@Html.ActionLink("Déconnection", "LogOut", "Home")</li>
                        }
                        else
                        {
                            <li align="rigth">@Html.ActionLink("Log In", "Login", "Home")</li>
                            <li align="rigth">@Html.ActionLink("Register", "Register", "Home")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="center"/>
        <footer>
            <p id="whitefont">&copy; @DateTime.Now.Year - Escape</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
