body{
	background-image: url("../img/fond.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	width: 100%;
}
#navbarDropdown{
	color:gold;
	transition: color 1s;
}
#navbarDropdown:hover{
	color:rgb(196, 10, 10);
}
nav{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin-top: 10px;
}
.dropdown-menu{
	background-color:rgba(0,0,0,0.5);
}

.btn-primary{
	color:gold;
	background-color: rgba(0,0,0,0);
	border-color: gold;
}
.btn-primary:hover{
	color:rgb(196, 10, 10);
	background-color: rgba(196, 10, 10, 0);
	border-color: rgb(196, 10, 10);
}
.btn-outline-success{
	color: gold;
	border-color:gold;
}
.btn-outline-success:hover{
	color:rgb(196, 10, 10);
	background-color: rgba(196, 10, 10, 0);
	border-color: rgb(196, 10, 10);
}
.btn-outline-success:disabled{
	color: rgb(196, 10, 10);
	background-color: rgba(196, 10, 10, 0);
	border-color: rgb(196, 10, 10);
}
#text-gold{
	color:gold;
	transition:color 1s;
	margin-right: 25px;
}
#text-gold-bis{
	color:gold;
	transition:color 1s;
	margin-left: 25px;
}
#text-gold:hover{
	color:rgb(196, 10, 10);
}
#text-gold-bis:hover{
	color:rgb(196, 10, 10);
}

#text-gold2{
	color:gold;
	transition:color 1s;
}
#text-gold2:hover{
	color:black;
}
.jumbotron{
	background-color: rgba(255,255,255,0.5);
	margin-top: 50px;
}
#logo{
	margin-right: 50px;
}
#text-gold-red{
	color:gold;
	transition: 1s;
}
#text-gold-red:hover{
	color:rgb(196, 10, 10);
}
#MyClockDisplay{
	text-align: center;
	padding: 0;
	transition: 1s;
	margin-top: 50px;
}
#MyDdayDisplay{
	text-align: center;
	padding: 0;
	transition: color 1s;
}

#titreEnigme{
	color:gold;
}
#nicoS{
	width: 150px;
}