.bg {
    background-color: black;
    border-style: dashed;
    border-color: green;
}
.bg-2 {
    background-color: black;
    border-bottom-style: dashed;
    border-color: green;
}
.bg-3 {
    background-color: black;
    border-top-style: dashed;
    border-color: green;
}
.txt {
    color:green;
    text-align: center;
}
.lol{
    margin-top:50px;
}
#word-input{
    background-color: black;
    border-style: dashed;
    border-color:green;
    color: green;
    box-shadow: black;
}
#word-input:focus{
    box-shadow: 0 0 0 .0rem black;
}
#word-input::placeholder{
    color:rgb(196, 10, 10);
}
button{
    background-color:black;
    border-style:dashed;
    border-color:green;
    color:green;
    transition:color 1s, border-color 1s;
}
button:hover{
	color:rgb(196, 10, 10);
	background-color: rgba(196, 10, 10, 0);
	border-color: rgb(196, 10, 10);
}
.red-txt{
    color:rgb(196, 10, 10);
}