﻿@model IEnumerable<AspRegister.Models.Reservation>

@{
    ViewBag.Title = "Index";
}
<div id="whitefont">
    <br />
    <br />
    <h2>Mes Réservations</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scenario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                  
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Scenario.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td  class="deleteBtn">
                <button class="delete" target="@Url.Action("Delete", new { Controller = "Reservation", id = item.Id })">DELETE</button>
            </td>
        </tr>
        }
    </table>
        <h2 id="link-gold">@Html.ActionLink("Ajouter une reservation", "Create", new { Controller = "Reservation" })</h2>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            document.querySelector(".delete").addEventListener("click", function (e) {
                if (confirm("Etes vous sur de vouloir supprimer cette réservation?")) {
                    let href = $(this).attr("target");
                    window.location.href = href;
                }
            })
        })
    </script>
    }